* {
    margin: 0;
    padding: 0;
    overflow: auto;
}

body {
    background-color: #e7e2f2;
    font-family: Arial, Helvetica, sans-serif;
}

div.content {
    background-color: snow;
    margin: 50px 2% 2% 2%;
    padding: 60px 20px;
    min-width: 200px;
    box-shadow: 0px 0px 10px 4px rgb(0 0 0 / 20%);
}

h1 {
    text-align: center;
}

h3 {
    display: inline-block;
    text-align: center;
    max-width: 600px;
}

div.center {
    text-align: center;
}

div.description {
    padding-top: 20px;
    padding-bottom: 20px;
}

div.category {
    margin: 40px 20% -85px 20%;
    min-width: 200px;
}

p.category {
    display: inline-block;
    background-color: #3B1E54;
    box-shadow: 0px 0px 4px 2px rgb(0 0 0 / 20%);
    color: snow;
    padding: 20px 40px;
    font-weight: bold;
    font-size: large;
}

div.separator {
    background-color: black;
    height: 1px;
    width: 30%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

div.info {
    position: relative;
    margin-bottom: 20px;
}

table.info {
    position: absolute;
    bottom: 0;
    height: 120px;
    width: 100%;
    color: snow;
    background-color: #3B1E54c0;
}

table.info td {
    text-align: center;
    vertical-align: top;
    padding-top: 5px;
}

table.info th {
    vertical-align: bottom;
    padding-bottom: 5px;
    font-size: large;
}

img.info {
    display: block;
    width: 100%;
    max-height: 600px;
    min-width: 200px;
    object-fit: cover;
    background-color: lightgrey;
}

div.col {
    width: 100%;
    margin-top: 10px;
}

div.col h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: x-large;
    border-bottom: 1px solid #757575;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

div.col1 {
    display: block;
    /*margin-right: 10%;*/
}

div.col2 {
    /*float: right;*/
}

div.ingredient p {
    font-size: large;
    font-weight: bold;
    text-align: center;
    border: 1px solid #757575;
    padding: 20px 0;
    margin-bottom: 5px;
}

table.instructions p.number {
    font-size: large;
    font-weight: bold;
    color: snow;
    background-color: #3B1E54;
    padding: 20px 25px;
    border-radius: 50%;
    margin-bottom: 5px;
}

table.instructions td.instructions_step {
    font-size: large;
    padding-left: 20px;
    font-weight: bold;
}

@media only screen and (min-width: 768px) {
    div.content {
        margin: 50px 10% 5% 10%;
    }

    table.info {
        height: 120px;
        background-color: #54473Fc1;
    }
    
    table.info td {
        padding-top: 5px;
    }
    
    table.info th {
        padding-bottom: 5px;
    }

    div.col {
        width: 45%;
    }

    div.col1 {
        display: inline-block;
        margin-right: 10%;
    }

    div.col2 {
        float: right;
    }
    table.instructions p.number {
        background-color: #54473F;
    }
    p.category {
        background-color: #54473F;
    }
}
/* Big screens */
@media only screen and (min-width: 900px) {
    div.content {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}